@model MVC.Models.ImportViewModel

@{
    ViewData["Title"] = "Import Orders";
}

<div class="text-center">
    <h1 class="display-4">Paste orders from mindfultrader to import</h1>
    @using (Html.BeginForm("ImportOrders", "Home", FormMethod.Post))
    {
        @Html.TextAreaFor(m => m.Text)
        <input id="Submit" type="submit" value="submit"/>
    }
</div>
