@model MVC.Models.ImportViewModel

@{
    ViewData["Title"] = "Import Orders";
}

<div class="text-center">
    <h1 class="display-4">Paste orders from mindfultrader to import</h1>
    @using (Html.BeginForm("ImportOrders", "Home", FormMethod.Post))
        {
        <fieldset>
            <div style="width: 100%; max-width: 100%; padding: 1em;">
                @Html.LabelFor(m => m.ParseSettings, "Select Trade Setting:", htmlAttributes: new { style = "float: left; text-align: left; width: 10em" })
                @Html.DropDownListFor(m => m.ParseSettingKey, Model.ParseSettings, htmlAttributes: new { style = "float: inline-start; width: 20em" })
            </div>
            <input id="Submit" type="submit" value="submit" />
        </fieldset>
        }
</div>
