@{
    ViewData["Title"] = "Tester";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Test Charles Schwab order submission</h1>
    @using (Html.BeginForm("TestCharlesSchwabOrderSubmission", "Home", FormMethod.Post))
        {
        <fieldset>
            <input id="Submit" type="submit" value="submit" />
        </fieldset>
        }
</div>
